* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-blue{
    background-color: #0084fd;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display:flex
}
.space-b{
    justify-content: space-between;
}
.menu-h{
    display:none
}













@media screen and (min-width: 768px) {
    .menu-h{
        display:block
    }
    .menu-m{
        display: none;
    }
}