* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-blue{
    background-color: #0084fd;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
    
}
.space-b{
    justify-content: space-between;
}
.menu-h{
    display:none
}
.py-l30 {
    padding: 0 30px;
}
.pt-30{
    padding-top: 30px;
}
.col-33{
    width: 100%;
}
.col-66{
    width: 100%;
}
.bg-lightblue {
    background-color: #b5ddff;
}
.content-j{
    background-color: #b5ddff;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}












@media screen and (min-width: 768px) {
    .menu-h{
        display:block
    }
    .menu-m{
        display: none;
    }
}
@media screen and (min-width: 480px) {
    .col-66{
        width: calc(66%);
    }
    .col-33{
        width: 33%;
    }
}
