* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COLORI */

:root {
    --blu: #0084fd;
    --light-blue: #b5ddff;
    --violet: #9792e4;
    --orange: #fdc15f;
}
 
/* DEBUG */

.debug main section:empty {
    height: 300px;
}
/* DEBUG */

main section:nth-child(2n) {
    background-color: var(--violet);
}


.bg-blue{
    background-color: var(--blu);
}
.container {
    margin: 0 auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
    
}
.space-b{
    justify-content: space-between;
}
.align-c{
    align-items: center;
}
.menu-h{
    display:none
}
.px-30 {
    padding: 0 30px;
}
.pt-50{
    padding-top: 50px;
}

.bg-lightblue {
    background-color: #b5ddff;
}

#jumbotron .col,.col-66{
    background-color: var(--light-blue);
    height: 300px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 25px;
} 
/* PLANNING */
 .col-l {
    background-color: var(--orange);
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
 }
  .col-r {
    background-color: white;
    height: 200px;
    border-radius: 30px;
    width: 100%;
  }
  #testimonials .col {
    height: 200px;
    width: 100%;
    margin-bottom: 35px;
    background-color: var(--violet);
    border-radius: 20px;

  }
  #benefits .col {
    height: 200px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
  }
  #about .col {
    height: 200px;
    background-color: rgba(233, 13, 13, 0.747);
    width: 100%;
    margin-bottom: 15px;
  }
  footer {
    background-color: #333333;
    color: white;
    padding: 40px 30px;
    text-align: center;
  }
  footer span {
    color: var(--violet);
    padding-right: 3px;
    text-decoration: underline;
    
  }

.pt-100{
    padding-top: 70px;
}





 /* RESPONSIVE */

 @media screen and (min-width: 768px) {
     .col-66{
         width: calc(100% / 3 * 2 - 24px);
         margin-right: 12px;
         margin-left: 12px;
         
        }
        #jumbotron .col{
            width: calc(100% / 3 - 24px);
            margin-right: 12px;
            margin-left: 12px;
        }
        #jumbotron .row{
            margin-left: -12px;
            margin-right: -12px;
        }
        #benefits .col {
            width: calc(100% / 2 - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
        #benefits .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        #about .col.c1 {
            width: calc(60% - 20px);
            margin-right: 20px;
        }
        #about .col.c2 {
            width: 40%;
        }
        
        .container {
            max-width: 720px;
        }
    }

    @media screen and (min-width: 992px) {
        .menu-h{
            display:block
        }
        .menu-m{
            display: none;
        }
        .container {
            max-width: 960px;
        }
        #planning .px-30{
            padding: 0 100px;
        }
        .col-l{
            width: 57%;
            margin-bottom: 0px;
        }
        .col-r{
            width: 43%;
            align-self: flex-end;
        }
        #benefits .col {
            width: calc(100% / 3 - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
        #benefits .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        #about .col.c1 {
            width: calc(75% - 20px);
            margin-right: 20px;
        }
        #about .col.c2 {
            width: 25%;
        }
    
    }
    @media screen and (min-width: 1200px) {
        .container {
        max-width: 1140px;
    }
}
